/*
  Default Stylesheet
  Author: HarrisonLewis.design
*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.sidebar {
  width: 250px;
  height: 100%;
  position: absolute;
  background-color: #424242;
  border-right: 5px solid #1f1f1f;
}

.sidebar ul {
  font-size: 20px;
  list-style-type: none;
}

.sidebar ul .profile {
  padding-top: 10px;
  text-align: center;
  color: white;
  border-bottom: 3px solid #1f1f1f;
  padding-bottom: 15px;
  text-shadow: 0 2px #1f1f1f;
}

.sidebar ul .profile img {
    border-radius: 150px;
}

.sidebar ul .profile .rank {
  color: #e74c3c;
}

.sidebar ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.sidebar ul li a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  text-shadow: 0 2px #1f1f1f;
}

.sidebar ul li a:hover {
  background-color: #1f1f1f;
  transition: 0.5s;
}

.sidebar ul li a.author {
  font-size: 15px;
  position: absolute;
  bottom: 0;
}

.sidebar ul li a.author:hover {
  background-color: transparent;
}

.wrapper {
  margin-left: 250px;
}

table.best-players {
  margin-left: 100px;
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;
}

table.best-players tr th { 
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 400;
  font-size: 30px;
  color: white;
  background-color: #ffb400;
}

table.best-players tr td {
  background-color: #424242;
  color: white;
  text-align: center;
  font-weight: 300;
  padding: 5px;
  font-size: 25px;
}

table.best-players tr td.name {
  background-color: #ffb400;
}

.page-selector {
  width: 100%;
  text-align: center;
  padding: 50px;
  font-size: 75px;
  color: white;
  font-weight: 800;
}

.managment-container {
  margin: 50px;
}

.managment-container h1 {
  color: #2ecc71;
}

.managment-container p {
  margin-top: 10px;
  font-size: 20px;
  color: #2ecc71;
}

.text-input-green {
  display: block;
  padding: 3px;
  border: 0;
  font-size: 20px;
  background-color: #27ae60;
  color: white;
  border-bottom: 3px solid #2ecc71;
}

.text-input-green:focus,
.text-input-green:active {
  outline: none;
}

.button-green {
  display: block;
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  background-color: #2ecc71;
  color: white;
  padding: 10px;
  font-size: 20px;
}

.button-green:focus,
.button-green:active {
  outline: none;
  background-color: #27ae60;
}

.text-input {
  border: 0;
  font-size: 25px;
  border-bottom: 5px solid #2c2b2a;
}

.text-input:active,
.text-input:focus {
  outline: 0;
}

.select-style {
  border: 0;
  background-color: #2ecc71;
  color: white;
}

.select-style:active,
.select-style:focus {
  outline: 0;
}

table.show-players {
  margin-top: 25px;
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;
}

table.show-players tr th { 
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 400;
  font-size: 30px;
  color: white;
  background-color: #2c2b2a;
}

table.show-players tr td {
  background-color: #ffb400;
  color: white;
  text-align: center;
  font-weight: 300;
  padding: 5px;
  font-size: 25px;
}

p.sub-view {
  font-size: 25px;
  color: #2c2b2a;
}

.text-view {
  font-size: 20px;
  color: #2ecc71;
  padding-right: 10px;
}

.login-form-green {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  padding: 20px;
  background-color: white;
  color: #424242;
  margin-top: 100px;
  border-radius: 10px;
}

.login-form-green .login-title {
  font-size: 35px;
  font-weight: 600;
}

.login-form-green .text {
  margin-top: 5px;
}

.login-input {
  margin-left: 10px;
  border: 0;
  border-bottom: 1px solid #424242;
  background-color: transparent;
  color: #424242;
  font-size: 20px;
  height: 35px;
  width: 75%;
}

.login-input:active,
.login-input:focus {
  outline: 0;
}

.button-dark {
  display: block;
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  background-color: #424242;
  color: white;
  padding: 10px;
  font-size: 20px;
}

.button-dark:focus,
.button-dark:active,
.button-dark:hover {
  transition: 1s;
  outline: none;
  background-color: #2c2b2a;
}